#spacemerc {
    background-size: cover;
}

#unfold {
    background: url(../img/waiting.png) no-repeat top right;
    background-size: cover;
}

#proverbial {
    background: url(../img/proverbial.png) no-repeat center center;
}