#spacemerc {
    background: url(../img/spacemerc.png) no-repeat top center;
}

#unfold {
    background: url(../img/unfold.png) no-repeat top left;
}

#proverbial {
    background: url(../img/proverbial.png) no-repeat center center;
}